body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

header {
  background-color: #59909c;
  color: #e2e2e2;
}

.time-block {
  border-radius: 15px;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #282727;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.row {
  border-top: 1px solid rgb(209, 209, 209);
}

.hour {
  background-color: rgb(239, 239, 239);
  color: #1f1f1f;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  border-color: solid black
}

.past {
  background-color: #d3d3d3;
  color: white;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
}

.present {
  background-color: #b67776;
  color: white;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
}

.future {
  background-color: #8dcb8d;
  color: white;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #40737f;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
